@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');
:root
{

    --header-height:3.5rem;

   /* change colurs go to colours deploy
     default (162,100%,40%)
     Orange(14,100%,65%)
     blue(210,100,70)
     pink(356,100,25)
     Purple(250,100,75)
   */

   

    /*===font weight ===*/
    --font-regualr:400;
    --font-medium:500;
    --font-semi-bold:600;
    /*===  z index  ===== */
   
    --z-fixed:100;
    --z-tooltip:10;
     /*===  Font and typography  ===== */
   
     --body-font:"popphins",sans-serif;
     --biggest-font-size: 2rem;
     --bigger-font-size:1.25rem; 
     --h1-font-size:1.5rem;
     --h2-font-size:1.25rem;
     --h3-font-size:1rem;
     --normal-font-size:.938rem;
     --smaller-font-size:.813rem;
     --smallest-font-size:.75rem;
        /*===colour===*/
  --hue:162;
  --first-color:hsl(var(--hue),100%,40%);
  --first-color-alt:hsl(var(--hue),56%,35%);
  --title-color:hsl(228,8%,95%);
  --text-color:hsl(228,8%,65%);
  --body-color:hsl(228,15%,20%);
  --container-color:hsl(228,15%,15%);


           /*===Responsive typography===*/
@media screen and(min-width:1152px) 
{
:root{
     --biggest-font-size: 4rem;
     --bigger-font-size:2rem; 
     --h1-font-size:2.25rem;
     --h2-font-size:1.5rem;
     --h3-font-size:1rem;
     --normal-font-size:1rem;
     --small-font-size:.875rem; 
     --smaller-font-size:.813rem; 
}
}
}
                   /* Base*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.pink
{
    --hue:365;
    --first-color:hsl(var(--hue),100%,25%);
}
.orange
{
    --hue:14;
    --first-color:hsl(var(--hue),100%,65%);
}
.purple
{
    --hue:250;
    --first-color:hsl(var(--hue),100%,75%);
}
.green
{   
    --hue:162;
    --first-color:hsl(var(--hue),100%,40%);
}
.blue{
    --hue:210;
    --first-color:hsl(210,100%,70%);
}
html
{
    scroll-behavior: smooth;
   
}
input,
textarea,
button,
body
{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    

}
body
{
    background-color: var(--body-color);
    color: var(--text-color);
}
input,
textarea,
button
{
  outline: none;
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
ul
{
    list-style: none;
}
a{
    text-decoration: none;
}
img,
svg
{
    width: 100%;
    height: auto;
}

                                        /* RESUABLE CSS CLASSES */
.container
{
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.section
{
    padding-block: 5rem 2rem;
}
.grid
{
    display: grid;
    gap: 1.5rem;
}
.section__title,
.section__subtitle
{
    text-align: center;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
.section__title
{
    font-size: var(--h1-font-size);
    margin-bottom:1.5rem ;
}
.section__subtitle
{
font-size: var(--small-font-size);
margin-bottom: .25rem;
}
.section__subtitle span
{
    color:var(--first-color);
}
.main
{
    overflow: hidden;  
}
                        /* HEADER AND NAV BAR */
.header
{
    width:100%;
    position: fixed;
    background-color: var(--container-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.nav
{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo
{
 color: var(--title-color);
 font-weight:var(--font-medium);
}
.nav-logo span
{
    color:var(--first-color);
}
.nav__close,
.nav__toggle
{
display: flex;
font-size: 1.25rem;
color: var(--title-color);
cursor: pointer;
}
                    /* Navigation for mobile */
@media screen and (max-width:1023px) {
    .nav__menu
    {

        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 10%, .3);
        width: 75%;
        height: 100%;
        padding: 4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        transition: right .4s;
    }
    
    
}
.nav__list
{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.nav__link
{
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: right 0.4s;
}
.nav__link:hover
{
 color: var(--first-color);
}
.nav__close
{
     position: absolute;
     top: 1rem;
     right: 1.5rem;
}
/* SHOW MOBILE MENU */
.show-menu
{
    right: 0;
}
/* REMOVE MOBILE MENU */
                               /* HOME */
#home
{
    background-color: var(--container-color);
}
.home__container
{
    margin-top: 3.6rem;
    row-gap: 2.5rem;
    padding-top: 3rem;
}
.home__content
{
display: grid;
padding-left: 2rem;
row-gap:2rem;
}
.home__data
{
    display: grid;
    row-gap: 0.5rem;
    text-align: center;
}
.home_subtitle,
.home__education
{
    font-size: var(--bigger-font-size);
}
.home__title span,
.home__title{
    color: var(--first-color);
}
.home__title
{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semi-bold);
}
.home__description
{
    margin-block: 1rem 1.5rem;
}
.home__social
{
    display: flex;
    column-gap: 1.25rem;
    justify-content: center;
}
.home__social-link
{
    display: flex;
    background-color: var(--first-color);
    padding: .5rem;
    font-size: 1.5rem;
    clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
    transition:transform .4s;
    color: white;
}
.home__social-link:hover
{
    transform: translateY(-.25rem);
}
.home__image
{
       display: flex;
       justify-content: center;
       position: relative;
       left: 1rem;
}
.home__blob
{
    width: 320px;
    fill: var(--first-color);
    filter: drop-shadow(0 12px 12px hsla(var(--hue),100%,40%,.2));
}
.button
{
    width:30%;
    display: inline-block;
    color: var(--title-color);
    background-color: var(--first-color);
    font-weight: var(--font-medium);
    border-radius: .5rem;
    padding: 1rem 1.75rem;
    transition: box-shadow .4s;
    justify-self: center;
}
.button:hover
{
    box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%,.25);
}
            /* About Section */



.about__container
{
    
  display: grid;
  row-gap: 2.5rem;
  
}
.about__data
{
    display: grid;
    text-align: center;
    row-gap: 1rem;
    padding-top: 5rem;
}
.about__description
{
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 0 .5rem;
}
.about__image
{
    display: flex;
    justify-content: center ;
}
#about
{
    background-color: var(--container-color);
    
}
.about__blob
{
    width: 320px;
}
.about__blob path{
    stroke: var(--first-color);
}
.blur-header
{
 background-color: transparent;
 
}
.blur-header::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: hsla(0, 0%, 10%, .3);
    backdrop-filter: blur(24px);
}
/* SKILLS SECTION */

.skills__container
{
   background: var(--container-color);
   padding-bottom: 2rem;
   padding-top: 5rem;
   row-gap: 3.5rem;
}
.skils__data
{
    display: grid;
    text-align: center;
    /* padding-top: 2rem;
    row-gap: 1rem; */
}
.Skills__Description
{
    display: grid;
    row-gap: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    padding: 0 5rem;
    
}
.skills__content,
.skills__group
{
    display: grid;
}
.skills__content{
   padding-top: 3rem;
   grid-template-columns: repeat(2,max-content);
   column-gap: 4rem;
   justify-content: center;
   align-items: baseline;
}
.skills__group
{
    row-gap: 1rem;
    list-style: decimal-leading-zero;
}
.skills__items
{
    color: var(--title-color);
    font-size: var(--font-medium);
}
.skills__items::marker
{
    color: var(--first-color);
}
.skils__data h3
{
 padding-bottom: 1rem;   
}
/* SERVICES */
#services
{
    margin-top: 2.5rem;
}
#services h2
{
  padding-top: 1rem;
}
.service__container
{
    display: grid;
    row-gap: 2rem;
    padding-block: 1rem;
    padding: 0 2.5rem;
}
.services__card
{
    text-align: center;
    background-color: var(--container-color);
    padding: 3rem 1.25rem;
    border-radius: 1rem;
    border: 2px solid var(--container-color);
    transition: border .4s;
    margin-bottom: 1rem;
}
.services__icon
{
    display: block;
    font-size: 4rem;
    color: var(--first-color);
    margin-bottom: .75rem;
}
.services__title
{
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
}
.services__card:hover
{
    border: 2px solid var(--first-color);
}
/* PROJECTS SECTION */
#projects
{
    background-color: var(--container-color);
}
.projects__container
{
    display: grid;
    row-gap: 2rem;
    justify-content: center;
    padding-block: 1rem;
    padding: 1rem 4rem;
}
.projects__card
{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}
.projects__img
{
 width: 100%;
 height: 100%;   
}
.projects__modal
{
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
    hsla(0,0%,0%,0)0%,
    hsla(var(--hue),70%,40%,.8) 120%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter:blur(4px);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    font-size: var(--font-medium);
    transition: bottom .4s;

}
.projects__subtitle,
.projects__button
{
color: var(--title-color);
font-size: var(--small-font-size);
}
.projects__subtitle
{
    display: block;
    margin-bottom: .25rem;
}
.projects__title
{
    font-size: var(--h2-font-size);
    margin-bottom: .75rem;
}
.projects__button
{
 display: flex;
 align-items: center;
 font-weight: var(--font-medium);
 column-gap: .5rem;   
}
.projects__button i{
    font-size: 1.25rem;
}
#projects
{
    margin-top: 2rem;
    padding-top: 5rem;
}
#projects h3{
margin-bottom: 1.5rem;
}
.projects__card:hover .projects__modal
{
    bottom: 0;
}
/* CONTACT */
.contact__container{
    padding-top: 1rem;
}
.contact__form,
.contact__group
{
    display: grid;
    row-gap: 1rem;
}
.contact__form
{
    position: relative;
    padding: 0 3rem;
}
#contact
{
    margin-top: 3rem;
}
#contact h2
{
    padding-top: 1rem;
}
.contact__input
{
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    background-color: var(--container-color);
    color: var(--title-color);
    border: none;
    outline: none;
}
.contact__input::placeholder
{
    color: var(--text-color);
 
}
.contact__form textarea
{
    height: 11rem;
    resize: none;
    margin-bottom: 2.5rem;
}
.contact__button
{
    width: 45%;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
}
.contact_message
{

    position: absolute;
    left: 1rem;
    bottom: 4rem;
    font-size: var(--small-font-size);
    color: var(--title-color);
}
/* FOOTER  */
.footer
{
    background-color: var(--container-color);
    padding-block: 3.5rem 2rem;
    margin-top: 1rem;
}
.footer__container
{
    display: grid;
    row-gap: 2rem;
    text-align: center;
}
.footer__title
{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}
.footer__title span
{
    color: var(--first-color);
}
.footer__eductaion
{
    font-size: var(--normal-font-size);
}
.footer__social
{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.footer__social-link
{
    display: flex;
    background-color: var(--first-color);
    padding: .5rem;
    color: var(--title-color);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%); 
    transition: transform .4s;
}
.footer__social-link:hover
{
    transform: translateY(-.25rem);
}
.footer__copy
{
    font-size: var(--small-font-size);
    margin-top: 2rem;
}
/* SCCROLL BAR */
::-webkit-scrollbar
{
    width: .9rem;
    border-radius: .5rem;
    background-color: hsl(228, 12%,25%);
}
::-webkit-scrollbar-thumb
{
    background-color: hsl(228,8%,35%);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover
{
    background-color: hsl(228,8%,45%);
}
/* SCROLL UP */
.scroll__up
{
    position: fixed;
    right: 1rem;
    bottom: -100%;
    padding: 6px;
    display: inline-flex;
    background-color: var(--body-color);
    color: var(--first-color);
    font-size:1.25rem;
    font-weight: var(--font-semi-bold);
    border-radius: .25rem;
    box-shadow: 0 4px 12px hsla(228,15%,8%,.4);
    z-index: var(--z-tooltip);
    transition: bottom .4s transform .4s;

}
.scroll__up:hover
{
    transform: translateY(-.25rem);
}
.show__scroll__up
{
bottom: 2rem;
}
/* BRAEK POINTS */
@media screen and (max-width:320px) {
    .container{
                margin-inline: 1rem;
    }
    .theme__container
    {
        position: relative;
        left: -50%;
    }
    .skills__content
    {
        grid-template-columns: max-content;
        row-gap: 1rem;
    }
    #home
    {
        padding: 0 1.5rem;
        padding-right: 2rem;
    }
    .button
    {
     width: 80%;
    }
     .about__description
    {
        margin-left: 1.5rem;
        width: 80%;
    } 
    .about__data .button
    {
        width: 50%;
    
    }
    .about__data
    {
        margin-right: 2rem;
    }
    .about__image
    {
        width: 80%;
        margin-left: 1rem;
    }
    .skils__data .button
    {
        width: 53%;
    }
    .services__card
    {
        padding: 2rem 0;
    }
   .contact__form
   {
   
    padding-left: 2rem;
   }
   .projects__modal
   {
      font-size: .7rem;
      row-gap: .2rem;
   }

}
@media screen and (min-width:576px) {
    
    .home__container,
    .about__container,
    .skills__container,
    .service__container,
    .projects__container,
    .contact__container
    {
        grid-template-columns: 360px;
        justify-content: center;
    }
    
}

@media screen and (min-width:768px) {
    
    .nav__menu
    {
        width: 55%;
    }
    .theme__container
    {
        position: relative;
        left: -75%;
    }

    .home__container,
    .about__container,
    .skills__container
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .contact__container
    {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: 60%;
        margin-left: 13rem;
    }
    .home__data,
    .about__data
    /* .skils__data */
    {
     text-align: initial;
    }
   .skils__data a
{
    width: 35%;
}

    .about__data h3 
    {
        text-align: initial;
        padding-left: .5rem;
    }
    .about__data h2
    {
        padding-left: .5rem;
    }
    .about__data a
   {
    justify-self: initial;
   }
  

    .home__data a
    {
        justify-self: initial;
    }
    .home__social
    {
    justify-content: initial;
    }
    .home__blob,
    .about__blob
    {
        width: 400px;
    }
    .about__data
    {
        order: 1;
    }
    .service__container,
    .projects__container
    {
        grid-template-columns: repeat(2,352px);
        column-gap: 1.5rem;

    }
}
/* FOR LARGE  DEVICES */
@media screen and (min-width:1023px) {


    .theme__container
    {
        position: relative;
        left: 300px;
        transition: left .4s;
    }
    .theme__container:hover
    {
        left: 200px;
    }
    
    .section{
        padding-block: 7rem 2rem;
    }
    .section__subtitle
    {
        font-size: var(--normal-font-size);
    }
    .nav
    {
        height: calc((--header-height)+1.5rem);
    }
    .nav__close,
    .nav__toggle
    {
        display: none;
    }
    .nav__list
    {
        flex-direction: row;
        column-gap: 3rem;
    }
    .nav__menu
    {
        width: initial;
    }
    .blur-header::after
    {
        backdrop-filter:blur(25px);
        -webkit-backdrop-filter: blur(25px);
    }
}
@media screen and (min-width:1152px) {

    .home__container{
        grid-template-columns: 455px 550px;
        column-gap: 7rem;
        padding-block: 2rem 3rem;
        margin-inline: auto;
    }
    .home__blob
    {
        width: 520px;
    }
    .home__content
    {
        row-gap: 4.5rem;
    }
    .home__description
    {
        margin-block: 1.5rem 2.5rem;
    }
    .home__social
    {
        column-gap: 1.5rem;
    }
    .about__container
    {
        grid-template-columns: 550px 460px;
        column-gap: 4.5rem;
        padding-bottom: 1rem;
    }
    .about__description
    {
        margin-bottom: 3rem;
    }
   
    .skills__container
    {
        grid-template-columns: 340px 425px;
        column-gap: 10rem;
        padding-bottom: 4rem;
    }
 
    .skils__data .button
    {
       width: 50%;
    }
    .Skills__Description
    {
        margin-bottom: 3rem;
    }
    .skills__content
    {
        column-gap: 8rem;
    }
    .skills__group
    {
        row-gap: 1.5rem;
    }
    .skills__items
    {
        font-size: var(--h3-font-size);
    }
    .service__container
    {
        grid-template-columns: repeat(3,352px);
        padding-block: 2.5rem 4rem;
    }
    .services__card
    {
        padding: 3.5rem 2rem;
    }
    .projects__container
    {
        grid-template-columns: repeat(3,350px);
        row-gap: 3rem;
        padding-block: 2.5rem 4rem;
    }
    .projects__button
    {
        font-size:  var(--normal-font-size);
    }
    .contact__container
    {
        grid-template-columns: 680px;
        padding-block: 2.5rem;
        margin-left: 17rem;
    }
    .contact__form{
        row-gap: 1.5rem;
        
    }
    .contact__group{
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem;
    }
    .contact__input
    {
        padding: 1.5rem;
    }
    .contact__form textarea
    {
        height: 20rem;
    }
    .footer
    {
        padding-block: 4.5rem 4rem;
    }
    .footer__container
    {
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        text-align: initial;
    }
    .footer__title{
        font-size: var(--bigger-font-size);
    }
    .footer__social{
        column-gap: 1.5rem;
    }
    .footer__copy
    {
        margin: 0;
        justify-self: flex-end;
    }
    .scroll__up
    {
        right: 3rem;
    }
}
.theme__container
{
    display: grid;
    text-align: right;
    position: relative;
    cursor: pointer;    
}
#green__theme
{
color:hsl(162,100%,40%);
}
#pink__theme
{
    color:hsl(365,100%,25%);
}
#blue__theme
{
    color:hsl(210,100%,70%);
}
#orange__theme
{
    color:hsl(14,100%,65%);
}
#purple__theme
{
    color:hsl(250,100%,75%);
}